@model MySocial.WebUI.ViewModels.PostViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="my-1">
        <form class="align-items-end" asp-action="AddPost" asp-controller="Post">
                <input type="text" asp-for="Content" class="form-control rounded-2 shadow-sm py-3" id="search" placeholder="What's hapenning?"/>
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary px-3 rounded-2">Post</button>
                </div>
            </form>
    </section>
	<section class="mt-3">
		@foreach (var post in Model.Posts)
		{
			<div class="card my-3">
				<div class="d-flex flex-row mb-3 align-items-center mx-3 mt-2">
					<img src="@post.user.ProfilePictureUrl" alt="Profile Picture" class="rounded-circle me-2" width="50" height="50"/>
					<h5>@post.user.UserName</h5>
				</div>
				<div class="mb-3 px-3">
					<div class="text-lg-start">
						<p >@post.post.Content</p>
						<p ><small class="text-muted">@post.post.CreatedAt.ToString("g")</small></p>
					</div>
				</div>
			</div>
		}
	</section>
</div>
