@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="my-1">
            <form class="align-items-end">
                <input type="text" class="form-control rounded-2 shadow-sm py-3" id="search" placeholder="What's hapenning?" />
                <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary px-3 rounded-2">Post</button>
                </div>
            </form>
    </section>
</div>
